{% extends 'base.html' %}
{% block title %}
{{ page_name }}{{ language_name }}
{% endblock %}

{% block content %}
<br>
<h1>Информация о языке {{ language_name }}</h1>
<h5><em>Список стран использующих язык {{ language_name }}</em></h5>

<button type="button" class="btn ">
    <a href="{% url 'countries-list' %}">Список всех стран</a></button>
<button type="button" class="btn ">
    <a href="{% url 'home' %}">Home</a></button>
<button type="button" class="btn ">
    <a href="{% url 'languages-list' %}">Список всех языков</a></button>

<ol><br>
    <!--    Блок наполнения и отображения стран из словаря с пагинацией-->
    <!--    views.py COUNTRIES_ON_PAGE = 10-->
    {% for country_name in page_language %}
    <!--    Гиперсылки стран-->
    <li>
        <button type="button" class="btn btn-light">
            <a href="/country/{{ country_name }}">{{ country_name }}</a></button>
    </li>
    {% endfor %}
</ol>

<h5><em> Всего: {{ total }} </em></h5>

<div class="d-inline-flex p-2 bd-highlight">
    <div class="pagination">
        <!--Блок пагинации countries-list/?page=2-->
        <span class="step-links">
        {% if page_language.has_previous %}
            <button type="button" class="btn "><a href="?page=1">&laquo; first</a></button>
            <button type="button" class="btn disabled"><a
                    href="?page={{ page_language.previous_page_number }}">previous</a></button>
        {% endif %}

        <span class="current">
            Page {{ page_language.number }} of {{ page_language.paginator.num_pages }}
        </span>

        {% if page_language.has_next %}
            <button type="button" class="btn "><a href="?page={{ page_language.next_page_number }}">next</a></button>
            <button type="button" class="btn "><a href="?page={{ page_language.paginator.num_pages }}">last &raquo;</a></button>
        {% endif %}
    </span>
    </div>
</div>
{% include 'inc/inc-footer.html' %}
{% endblock %}